.news-card {
  display: flex;
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: hidden;
  margin-bottom: 20px;
  background-color: #fff;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  height: fit-content;
}

.card-image img {
  min-width: 240px;
  height: auto;
  border-bottom: 1px solid #ccc;
}

.card-content {
  padding: 20px;
}

.image-title {
  margin-top: 0;
  margin-bottom: 10px;
  color: gray;
  font-weight: 600;
}

.card-content p {
  margin-bottom: 15px;
}

.card-content a {
  text-decoration: none;
  color: blue;
  font-weight: bold;
}
