.news-app {
  margin-bottom: 20px;
}

.news-item {
  display: flex;
  align-items: center;
  border: 1px solid #ccc;
  padding: 10px;
}

.news-image {
  width: 150px; /* Adjust as needed */
  height: auto;
  margin-right: 20px;
}

.news-item p {
  margin: 0;
}

/* Style the read more link */
.news-item a {
  text-decoration: none;
  color: blue;
}
