.news-app {
  display: flex;
  justify-content: center;
  width: 400px;
}

.news-item {
  width: 500px;
  padding: 20px;
  border: 1px solid blue;
  margin-bottom: 20px;
}
.news-image {
  max-width: 100%;
  justify-content: center;
}
