/* Global Styles */
body {
  font-family: Arial, sans-serif;
  margin: 0;
  padding: 0;
}

/* Header Styles */
header {
  background-color: #333;
  color: white;
  padding: 20px;
  text-align: center;
}

h1 {
  margin: 0;
}

/* Main Styles */
main {
  padding: 20px;
}

/* Country Selector Styles */
label {
  font-weight: bold;
  margin-right: 10px;
}

#countrySelect {
  padding: 5px;
  font-size: 16px;
  border-radius: 5px;
  margin-bottom: 20px;
}

/* News Item Styles */
.app {
  margin-bottom: 20px;
}
